.box-container {
    width: 90%;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 10px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    padding: 20px;
}

.back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.back-button i {
    font-size: 20px;
    color: #000000;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
}

.box-message {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 15px;
}

.message-text {
    font-size: 16px;
    color: #4a4a4a;
    flex: 1;
}

.message-text a {
    color: #ff007f;
    text-decoration: none;
}

.message-text a:hover {
    text-decoration: underline;
}

.emoji {
    font-size: 24px;
    margin-left: 10px;
}




.map-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    margin-left: 2%;
    justify-content: space-between;
}

.toggle-container {
    display: flex;
    align-items: center;
}

.toggle-container label {
    margin-right: 10px;
    font-size: 16px;
    color: #333333;
}

.toggle-switch {
    position: relative;
    width: 40px;
    height: 20px;
    background-color: #cccccc;
    border-radius: 20px;
    cursor: pointer;
}

.toggle-switch::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    border-radius: 50%;
    top: 1px;
    left: 1px;
    transition: 0.3s;
}

.toggle-switch.active {
    background-color: #4caf50;
}

.toggle-switch.active::before {
    left: 21px;
}

.icon-buttons {
    display: flex;
    gap: 10px;
}

.icon-button {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.icon-button:hover {
    background-color: #f0f0f0;
}

.icon-button i {
    color: #333333;
    font-size: 18px;
}