body,
h1,
h3,
p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}



body {
    background-color: #f8f8f8;
    padding: 20px;
}



header {
    text-align: left;
    margin-bottom: 20px;
}

header h1 {
    color: #000;
    font-size: 24px;
}

header .highlight {
    color: #ff047c;
    font-size: 16px;
}


input::placeholder {
    font-family: 'Wix Madefor Text', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

/* Search Bar */
.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.search-bar input {
    flex-grow: 1;
    border: none;
    outline: none;
    background: none;
    padding: 10px 15px;
    font-size: 16px;
    color: #8c8c8c;
    border-radius: 30px;
}

.search-bar input::placeholder {
    color: #8c8c8c;
    font-style: italic;
}

.search-bar button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

    /* margin-left: 5px; */
}

.search-bar button img {
    width: 20px;
    height: 20px;
    opacity: 0.6;
}




.cards-container {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.cards-container::-webkit-scrollbar {
    display: none;
}

.card {
    flex: 0 0 auto;
    width: 125px;
    height: 125px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    scroll-snap-align: center;
}

.card .icon {
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    color: #1a1a1a;
    margin: 0;
}

#getting-know-card {
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

#getting-know-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.getting-know-para {
    margin-top: 10px;
    background-color: #e9e1e1;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    display: none;
}

.getting-know-para.hidden {
    display: none;
}

.getting-know-para.visible {
    display: block;
}

a {
    color: #ff047c;
}