body,h1,h3,p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}



body {
    background-color: #f8f8f8;
    padding: 20px;
}



header {
    text-align: left;
    margin-bottom: 20px;
}

header h1 {
    color: #000;
    font-size: 24px;
}

header .highlight {
    color: #ff047c;
    font-size: 16px;
}


/* Search Bar */
.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.search-bar input {
    flex-grow: 1;
    border: none;
    outline: none;
    background: none;
    padding: 10px 15px;
    font-size: 16px;
    color: #8c8c8c;
    border-radius: 30px;
}

.search-bar input::placeholder {
    color: #8c8c8c;
    font-style: italic;
}

.search-bar button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    
    /* margin-left: 5px; */
}

.search-bar button img {
    width: 20px;
    height: 20px;
    opacity: 0.6;
}




.cards-container {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.cards-container::-webkit-scrollbar {
    display: none;
}

.card {
    flex: 0 0 auto;
    width: 125px;
    height: 125px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    scroll-snap-align: center;
}

.card .icon {
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    color: #1a1a1a;
    margin: 0;
}

#getting-know-card {
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

#getting-know-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.getting-know-para {
    margin-top: 10px;
    background-color: #e9e1e1;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    display: none;
}

.getting-know-para.hidden {
    display: none;
}

.getting-know-para.visible {
    display: block;
}

a{
    color:#ff047c;
}




.map-container {
    display: flex;
    align-items: center;
    /* background-color: #ffffff; */
    padding: 10px;
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    width: 95%;
    justify-content: space-between;
}

.toggle-container {
    display: flex;
    align-items: center;
}

.toggle-container label {
    margin-right: 10px;
    font-size: 16px;
    color: #333333;
}

.toggle-switch {
    position: relative;
    width: 40px;
    height: 20px;
    background-color: #cccccc;
    border-radius: 20px;
    cursor: pointer;
}

.toggle-switch::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    border-radius: 50%;
    top: 1px;
    left: 1px;
    transition: 0.3s;
}

.toggle-switch.active {
    background-color: #4caf50;
}

.toggle-switch.active::before {
    left: 21px;
}

.icon-buttons {
    display: flex;
    gap: 10px;
}

.icon-button {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.icon-button:hover {
    background-color: #f0f0f0;
}

.icon-button i {
    color: #333333;
    font-size: 18px;
}




.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding-bottom: 80px;
    
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-details {
    padding: 15px;
}

.product-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.price-info {
    font-style: italic;
    color: #777;
}

.special-pick {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.origin-label {
    float: right;
    font-size: small;
}





.content {
    padding: 20px;
    min-height: 100vh;
    box-sizing: border-box;
}

.fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    border-top: 1px solid #E6E6E6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    height: 60px;
}

.footer-left .footer-logo {
    height: 40px;
}

.footer-right .social-icon {
    height: 30px;
    margin-left: 10px;
}

.footer-right .social-icon:first-child {
    margin-left: 0;
}

.footer-right {
    margin-left: auto;
    /* Pushes the element to the right */
    display: flex;
    /* Keeps icons horizontally aligned */
    align-items: center;
    /* Aligns icons vertically */
}


@media (min-width: 768px) {
    body {
        display: none;
    }
}
